{{- $isWorkComputer := promptBoolOnce . "isWorkComputer" "Is this your work computer" -}}

[data]
    isWorkComputer = {{ $isWorkComputer }}

[git]
    autoCommit = true

[diff]
    command = "code"
    args = ["--wait", "--diff"]

[edit]
    command = "code"
    args = ["--wait"]

[merge]
    command = "bash"
    args = [
        "-c",
        "cp",
        {{ printf "%q" "{{ .Target }}" }},
        {{ printf "%q" "{{ .Target }}.base" }},
        "&&",
        "code --new-window --wait --merge",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Target }}" }},
        {{ printf "%q" "{{ .Target }}.base" }},
        {{ printf "%q" "{{ .Source }}" }}
    ]
