[push]
	default = simple
[user]
	name = Gustavo Perdomo
	email = gperdomor@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINHJmy4J1Uw1NMiW489WQqGpGXbjiVurAK3DEYZuZoWw
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore
	autocrlf = input
	editor = code --wait
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[gpg]
	program = /usr/local/bin/gpg
	format = ssh
[commit]
	gpgsign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[protocol]
	version = 2
[pull]
	rebase = false
[init]
	defaultBranch = main
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
