gperdomor@gmail.com {{ onepasswordRead "op://op3k53txtuxsdn3ajfejlejos4/6qhqdhycazx76eve2lltmvdd6i/public_key" "Y6TIYA2XHNHYJBR5E2BJXPSH4M" }}
{{ if .isWorkComputer -}}
{{ onepasswordRead "op://3fvkfxjb35fzfensrsa2gsxfle/hxhzframg5egxcpidqs2spoaca/username" "Y6TIYA2XHNHYJBR5E2BJXPSH4M" }} {{ onepasswordRead "op://op3k53txtuxsdn3ajfejlejos4/6qhqdhycazx76eve2lltmvdd6i/public_key" "Y6TIYA2XHNHYJBR5E2BJXPSH4M" }}
{{ end -}}