init-license=MIT
save-exact=true

{{ if .isWorkComputer -}}
@digital-retail:registry=https://gitlab.falabella.tech/api/v4/packages/npm/
//gitlab.falabella.tech/api/v4/packages/npm/:_authToken={{ onepasswordRead "op://3fvkfxjb35fzfensrsa2gsxfle/bzfnqbmzljrvyruzty2sq5auw4/password" "Y6TIYA2XHNHYJBR5E2BJXPSH4M" }}
{{ end -}}
