init-license=MIT
save-exact=true

@digital-retail:registry=https://gitlab.falabella.tech/api/v4/packages/npm/
//gitlab.falabella.tech/api/v4/packages/npm/:_authToken={{ onepasswordRead "op://Personal/7mn4y2esdtbqrhnl3ijcg4xjoy/password" }}
