#!/bin/bash

set -e

# This scripts logs my docker agent into all necessary systems

# Log into DockerHub
echo "{{ onepasswordRead "op://op3k53txtuxsdn3ajfejlejos4/qp3chp4oubentia6febw4m4wfi/password" "Y6TIYA2XHNHYJBR5E2BJXPSH4M" }}" | docker login -u {{ onepasswordRead "op://op3k53txtuxsdn3ajfejlejos4/qp3chp4oubentia6febw4m4wfi/username" "Y6TIYA2XHNHYJBR5E2BJXPSH4M" }} --password-stdin

{{ if .isWorkComputer -}}
# Log into GitLab Registry
echo "{{ onepasswordRead "op://3fvkfxjb35fzfensrsa2gsxfle/bzfnqbmzljrvyruzty2sq5auw4/password" "Y6TIYA2XHNHYJBR5E2BJXPSH4M" }}" | docker login registry.falabella.tech -u {{ onepasswordRead "op://3fvkfxjb35fzfensrsa2gsxfle/6e5oydk6aeh7zlfpm7se5gcyf4/username" "Y6TIYA2XHNHYJBR5E2BJXPSH4M" }} --password-stdin
{{ end -}}